<div class="input-group">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="sender.generateColors()">
  		<span aria-hidden="true"></span> Start
	</button>
	<button type="button" class="btn btn-default" ng-click="sender.stop()">
  	<span aria-hidden="true"></span> Stop
	</button>
  </div>
  <input type="text" placeholder="Enter some text" class="form-control" aria-label="..." ng-model="sender.userInputString">
</div>
</div>

<div class="rcorners1" ng-style="{'background-color': 'rgb(' + sender.data.r + ',' + sender.data.g + ',' + sender.data.b +')'}"> </div>                    